

body {
   background-color: #b7d0c4;

    
}
.container{
    
    text-align: center;
}

.course-list {
    
    margin-bottom: 20px;
    padding: 20px 0px;
    

}

.course-list i {
    font-size: 20px;
}

.popular-course h2 {
    color: #064727;
    font-size: 28px;
}

.popular-course p {
    font-size: 14px;
    margin-top: 10px;
    line-height: 25px;
    font-weight: 400;
}

.popular-course a {
    text-decoration: none;
    color: #064727;
    float: left;
    margin-top: 20px;
}

.bg-yellow {
    background: #ffc252
}

.bg-blue {
    background: #add8e6;
}

.bg-green {
    background: #90ee90;
}

.bg-grey {
    background: #d3d3d3;
}